<!doctype html>
<html lang="en">

<head>
    <script src="./js/vue.js"></script>
    <script src="./js/vue-resource.js"></script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Developers MongoDB</title>
</head>

<body>
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="index.html">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="networks.html">Social Network</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="networks-mongodb.html">Social Network MongoDB</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="users.html">User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="profiles.html">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="workers.html">Worker</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="developers.html">Developer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="developers-mongodb.html">Developer MongoDB<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="managers.html">Manager</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <h1>Developers MongoDB</h1>
                </div>

                <div class="row">
                    <div class="col-12" style="overflow-y:auto; height: 400px;">
                        <table class="table table-dark" style="overflow-y:scroll; height: 400px;">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Developer Number</th>
                                    <th scope="col">Nickname</th>
                                    <th scope="col">Login</th>
                                    <th scope="col">Password</th>
                                    <th scope="col">Personal Number</th>
                                    <th scope="col">Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item, index) in developers">
                                    <th scope="row">{{ index + 1 }}</th>
                                    <td>{{ item.developer.developernr }}</td>
                                    <td>{{ item.developer.nickname }}</td>
                                    <td>{{ item.developer.login }}</td>
                                    <td>{{ item.developer.password }}</td>
                                    <td>{{ item.pernr }}</td>
                                    <td><button class="btn btn-outline-success"
                                            v-on:click="showDetails(item)">Details</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row" v-if="detailedDeveloper">
                    <div class="col-12">
                        <h1 class="text-center">Detailed information:</h1>
                        <table class="table table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Developer Number</th>
                                    <th scope="col">Social Network</th>
                                    <th scope="col">Employement Date</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>{{ detailedDeveloper.developernr }}</td>
                                    <td>{{ detailedDeveloper.socialNetwork }}</td>
                                    <td>{{ detailedDeveloper.employementDate }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>

        <footer>

        </footer>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>


<script>
    var app = new Vue({
        el: '#app',
        data: {
            uri: "http://localhost:4002",
            detailedDeveloper: null,
            developers: [],
        },
        methods: {
            showDetails: function (item) {
                worker_id = item._id;
                this.$http.get(this.uri + '/api/mongo/developers/details/' + worker_id).then(response => {
                    this.detailedDeveloper = response.body;
                }, response => {
                    alert("Error, please try again later");
                    // error callback
                });
            },

            getDevelopers: function () {
                this.$http.get(this.uri + '/api/mongo/developers').then(response => {
                    this.developers = response.body;
                }, response => {
                    alert("Error, please try again later");
                    // error callback
                });
            },
        },

        created: function () {
            this.getDevelopers();
        }
    })
</script>

</html>